body {
	margin: 0;
	padding: 0;
}

.page-wrapper {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
	text-align: center;
	color: #343838;
	font-family: sans-serif;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.track {
	margin: 15px 0;
}

button {
	background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

input {
	display: block;
	margin: 15px auto;
}