@import '../variables.scss';
.display {
    position: relative;
    height: calc(100% - 150px);
    overflow: hidden;
}

.display__track {
    position: absolute;
    width: 100%;
    max-width: 250px;
    padding: 0 5px;
    text-align: center;
    font-weight: 100;
    font-size: 1.5em;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display__progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    line {
        stroke: $sec-color;
        stroke-width: 3px;
    }
}

.toggle-btn {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btn--tracklist {
    right: 10px;
    transform: scale(1.2);
}

.btn--playlist {
    left: 10px;
}

.player {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    #outer-circle {
        stroke-width: 4px;
    }
    #inner-circle {
        stroke-width: 44px;
    }
    #arcs {
        stroke-width: 44px;
        animation: rotate 2s linear infinite;
        animation-play-state: paused;
        transform-origin: 50% 50%;
    }
    #stick {
        transition: transform .25s;
        transform: rotate(-20deg);
        transform-origin: 100% 0;
    }
}

.active {
    #arcs {
        animation-play-state: running;
    }
    #stick {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

