@import '../variables.scss';
.playlist {
    position: absolute;
    width: 250px;
    height: 100%;
    background: $prim-color;
    opacity: 0;
    z-index: 99;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 5px 0 50px -5px $prim-color;
    transform: translateX(-100%);
    transition: all .15s;
}

.playlist.visible {
    opacity: 1;
    transform: translateX(0);
}

.playlist__item {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid $prim-color-light;
    transition: all .25s;
    font-size: .8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:active {
        background-color: $prim-color-light;
    }
    &:last-child {
        border: none;
    }
}

.playlist__item.current {
    background-color: $sec-color;
}