@import './variables.scss';

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    width: 100%;
    color: #fff;
    font-family: sans-serif;
}

.app {
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $prim-color;
    box-shadow: 0 9px 21px -5px $prim-color;
    transform: translate(-50%, -50%);
}

@import 'components/controls.scss';
@import 'components/display.scss';